body{
	background-image: url("../images/background-image.jpg");
}

#search-form{
	padding:20px;
}

#add-button{
	margin:20px 0px 0px 0px;
}

.col-md-6{
	padding-right: 0px;
    padding-left: 0px;
}

button{
	margin:10px;
}

.search-buttons{
	margin:10px;
}